In [3]:
import openai
import pandas as pd
from tqdm import tqdm


# PARAMETERS
openai.api_key = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

MODELS = ['gpt-3.5-turbo', 'gpt-4']

DATASET = 'test_sets/test_mcqa.csv'


def chatgpt_answer(prompt, model='gpt-3.5-turbo'):
    # Available models: 'gpt-3.5-turbo' and 'gpt-4'

    response = openai.ChatCompletion.create(
        model=model,
        temperature=0.0,
        max_tokens=100,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0,
        messages=[
            {'role': 'system', 
             'content': prompt}
        ]
    )
    
    return response.choices[0].message.content

In [11]:
df = pd.read_csv(DATASET, encoding='ISO-8859-1')

print(len(df))
df.head()

227

,id,question,prompt,correct_choice,gpt_selected_choice,is_right
0,A1003,What is SAASS?\r\n,Answer the following question with the correct...,C,NaN,NaN
1,A1011,What formed the Rio Grande Rise?\r\n,Answer the following question with the correct...,C,NaN,NaN
2,A1044,Where has Baker installed successful smart hyd...,Answer the following question with the correct...,A,NaN,NaN
3,A1083,One particular block called more attention tha...,Answer the following question with the correct...,B,NaN,NaN
4,A1090,The article alludes to the fact that Brazil is...,Answer the following question with the correct...,A,NaN,NaN

In [6]:
for model in MODELS:
    print(f'\n\n>>> MODEL: {model}')

    gpt = []
    is_right = []
    for _, row in tqdm(df.iterrows()):
        ans = chatgpt_answer(row['prompt'], model)
        
        gpt.append(ans)
        is_right.append(1 if ans[0] == row['correct_choice'] else 0)

    df['gpt_selected_choice'] = gpt
    df['is_right'] = is_right

    df.to_csv(f'results/experiments_chatgpt_mcqa/{model}.csv', index=False)

>>> MODEL: gpt-3.5-turbo

2it [00:01,  1.32it/s]

>>> MODEL: gpt-4

2it [00:02,  1.34s/it]

In [64]:
df = pd.read_csv("results/experiments_chatgpt_mcqa/gpt-3.5-turbo.csv")
df.head()

,id,question,prompt,correct_choice,gpt_selected_choice,is_right
0,A1003,What is SAASS?\n,Answer the following question with the correct...,C,C,1
1,A1011,What formed the Rio Grande Rise?\n,Answer the following question with the correct...,C,C,1
2,A1044,Where has Baker installed successful smart hyd...,Answer the following question with the correct...,A,A,1
3,A1083,One particular block called more attention tha...,Answer the following question with the correct...,B,B,1
4,A1090,The article alludes to the fact that Brazil is...,Answer the following question with the correct...,A,A: The fact that big firms of E&P participated...,1

In [65]:
df['is_right'].describe()

count    227.000000
mean       0.841410
std        0.366101
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: is_right, dtype: float64

In [66]:
df = pd.read_csv("results/experiments_chatgpt_mcqa/gpt-4.csv")
df.head()

,id,question,prompt,correct_choice,gpt_selected_choice,is_right
0,A1003,What is SAASS?\n,Answer the following question with the correct...,C,C,1
1,A1011,What formed the Rio Grande Rise?\n,Answer the following question with the correct...,C,C,1
2,A1044,Where has Baker installed successful smart hyd...,Answer the following question with the correct...,A,A,1
3,A1083,One particular block called more attention tha...,Answer the following question with the correct...,B,C,0
4,A1090,The article alludes to the fact that Brazil is...,Answer the following question with the correct...,A,A,1

In [67]:
df['is_right'].describe()

count    227.000000
mean       0.885463
std        0.319167
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: is_right, dtype: float64